@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

:root {
  font-family: Inter, sans-serif;

  --text-color: 232, 232, 232;
  --background-color: 17, 17, 17;

  color-scheme: light dark;
  color: rgba(var(--text-color));
  background-color: rgba(var(--background-color));
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: dotted underline;

  &:hover {
    text-decoration: underline;
  }
}

p {
  font-weight: light;
  line-height: 1.5rem;
  font-size: .9rem;
  color: rgba(var(--text-color), 0.8);
}

p.subtitle {
  margin-top: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: 16, 16, 16;
    --background-color: 255, 255, 255;
    text-shadow: none;
  }
}
